*{
    box-sizing: border-box;
}
*:after,*:before{
    clear: both;
    content: '';
}
body{
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    font-smoothing: antialiased ;
    font-family: 'Roboto Slab' , sans-serif;
    overflow-x: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*------------Header-------------------*/
#header{
    width: 100%;
    position: relative;
}
.top{
    background-color: rgba(65, 182, 85, 0.12);
    padding: 5px 0;
    border-bottom: 1px solid #feea39;
}
.logo{
    width: 330px;
    float: left;
}
.phone{
    float: right;
    width: 40%;
    color: #666;
    margin-top: 20px
}
.phone:before{
    content: '';
    display: inline-block;
    float: left;
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-right: .5em;
}
.top:after{
    display: block;
    clear: both;
    content: '';
}
/*bottom*/
.bottom{
    padding: 5px 0;
    background-color: #41b655;
    border-bottom: 2px solid #feea39;
    width: 100%;
    height: 67px;
    z-index: 100;
}
.navbar-toggle{
    float: left;
}
.navbar-inverse{
    background-color: transparent;
    border: none;
}
.navbar-nav{
    padding-left: 0;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
    background-color: #41b655;
    border: 1px solid #388E3C;
    padding: 0 2em;
    line-height: 55px;
    margin-right: 1em;
    
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: #feea39;
    background: #388E3C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #388E3C;
    color: #feea39;
}
.tag{
    background-image: url(../images/tag.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 170px;
    height: 170px;
    top: 0;
    right: 4%;
}
.tag p{
    margin-top: 25px;
    margin-left: 7px;
    width: 90px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
    display: block;
    background-color: #388E3C;
    border: none;
}
.dropdown-menu li {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #8ec73f;
}
.dropdown-menu li a{
    color: #fff;
}
.dropdown-menu li a:hover{
    color: #feea39;
    background: none;
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
/*----Navigation---*/


/*---Banner---*/
.banner{
    background-image: url(../images/gzmuosidakwtxmqsdyvv.jpg);
    background-size: cover;
    background-color: #eee;
    width: 100%;
    padding: 3em 0;
}
.form{
    //background-image: url(../images/banner2.jpg);
    background-size: cover;
    //background-color: rgba(0, 0, 0, 0.57);
    background-color: #fff;
    border: 1px solid #41b655;
    margin: 0 auto;
    box-shadow: 1px 1px 15px #999;
    width: 80%;
    padding: 0;
    overflow-x: hidden;
}
.clearfix:after{
    content: '';
    clear: both;
    display: block;
}
/*---tabs--*/
.nav-tabs{
    display: inline-block;
    margin: 0 auto;
    background-color: #41b655;
}
.nav-tabs li{
    border: 1px solid #388E3C;
    padding: 10px 20px;
}
.nav-tabs li a{
    font-size: 16px;
    padding: 0;
    color: #fff;
    border: none;
}
.nav-tabs li a b{
    font-weight: normal;
}
.nav-tabs li.active a{
    background: #41b655;
    color: #feea39;
    border: none;
}
.nav-tabs li a:hover{
    background: none;
    color: #feea39;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #feea39;
    background: none;
    border: none;
}
.nav-tabs li.active a:hover{
    color: #feea39;
}

.tab-content{
    padding: 5em 4em;
}
/**------Form-------------**/
.form-group{
    margin-bottom: 3em;
}
.form-group:after{
    content: '';
    display: block;
    clear: both;
}
.form-horizontal .control-label{
    color: #333;
    background-color: #eee;
    margin-right: -1em;
    text-align: left;
    height: 35px;
    padding-top: 0;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.form-group input{
    border-radius: 0;
    border: 1px solid #999;
    height: 35px;
    width: 100%;
    padding-left: 1em;
}
.form-group select{
    width: 100%;
    height: 35px;
    outline: none;
    padding-left: 1em;
}
p.center{
    text-align: center;
}
.heading{
    line-height: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 2em;
}
.heading h3{
    margin-bottom: 1em;
}
.insuranceform{
    background-image: url(../images/form.PNG);
    background-repeat: no-repeat;
    padding: 0.5em;
    position: relative;
    height: 45px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
.insuranceform input{
    width: 80px;
    border: 1px solid #000;
    position: absolute;
    top: 8px;
    left: 25px;
}
/*--------Banner Bottom------------*/

.banner-bottom{
    background-color: #fff;
    border-top: 5px solid #eee;
    height: auto;
    padding: 4em 0;
}
.banner-bottom ul li{
    width: 50%;
    padding-right: 2em;
    border-right: 1px solid #eee;
    float: left;
}
.banner-bottom ul li:nth-child(2){
    padding-left: 2em;
}
.banner-bottom ul li:nth-child(3){
    padding-left: 2em;
    padding-right: 0;
    border-right: none;
}
.banner-bottom ul:after{
    clear: both;
    display: block;
    content: '';
}
.banner-bottom h3{
    font-weight: 300;
    margin-bottom: 1em;
}
.banner-bottom p{
    color: #999;
    margin-bottom: 1.5em;
}
.banner-bottom input{
    height: 40px;
    width: 80%;
    display: block;
    margin-bottom: 2em;
    padding: 1em;
    border: none;
    background-color: #eee;
    color: #333;
}
::-webkit-input-placeholder{
    color: #333;
    font-size: 14px;
} 
::-mox-input-placeholder{
    color: #333;
    font-size: 14px;
} 
::-ms-input-placeholder{
    color: #333;
    font-size: 14px;
}  
a.button{
    padding: 0.5em 2em;
    background-color: #41b655;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s all ease-out;
}
a.button:hover{
    background-color: #feea39;
    transition: 0.5s all ease-in;
    color: #333;
}
.bottom-form-group select, .bottom-form-group input{
    width: 100%;
    height: 35px;
    position: relative;
    background-color: #eee;
    margin-bottom: 2em;
    border: 1px solid #999;
    padding: 0 0 0 1em;
}
.bottom-form{
    width: 66.6%;
    float: left;
}
.testinomials{
    width: 33.33%;
    float: right;
    padding: 0 2em;
}
/*-----testinomials-----*/

.item{
    padding: 2em 1em;
    background-color: #eee;
    color: #333;
}
.item h5{
    text-align: center;
}
.carousel-indicators{
    bottom: -20%;
    left: 30%;
}
.carousel-indicators li{
    float: left;
    border: 2px solid #41b655;
}
.carousel-indicators li.active{
    background-color: #41b655;
}

/*--------Banner Bottom------------*/























/*--------Footer------*/
footer{
    background-color: rgba(65, 182, 85, 0.12);
    border-top: 5px solid #eee;
    padding: 2em 0;
    color: #333
}
footer h3{
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
    color: #333;
}
.footer-left{
    width: 30%;
    float: left;
    padding-right: 2em;
}
.footer-right{
    width: 70%;
    float: left;
    padding-left: 2em;
}
footer:after{
    clear: both;
    display: block;
    content: '';
}
.footer-right a{
    color: #333;
    text-decoration: none;
}
.footer-right a:hover{
    color: #41b655;
}
.slider8{
    background-color: none;
    border: none;
    padding: 0;
    box-shadow: none;
}
.bx-wrapper{
    background: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}
.slide{
    width: 100%;
    color: #333;
    background-color: transparent;
}
.slide a{
    color: #333;
}
.slide a:hover{
    color: #388E3C;
    transition: 0.5s;
}
.footer-slide{
    height: 30px;
    overflow: hidden;
}
.outside{
    margin-top: -15px;
    margin-bottom: 10px;
}
.outside p{
    font-size: 20px;
}
.outside a{
    color: #333;
}
.outside a:hover{
    color: #388E3C;
}
.next{
    content: '\f138';
    background-color: #999;
    width: 20px;
    height: 20px;
    display: block;
}
.copyright{
    background-color: #41b655;
    color: #333
}




/*-------Pages---------------*/

.news-section{
    padding: 4em 0;
}
.news-section .bottom-form{
    width: 100%;
}
.news-section .bottom-form li{
    padding: 2.5em;
    background-color: #eee;
}
.bottom-form li h3{
    margin-bottom: 0.5em;
}
.bottom-form li p{
    margin-bottom: 1em;
}
.bottom-form li span{
    background-color: #388E3C;
    padding: 0.3em;
    border-radius: 50%;
}
.news{
    line-height: 1.8em;
    padding-left: 1em;
}
.news-list li{
    display: block;
    width: 100%;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    padding: 0.5em;
}
.news-list li a{
    color: #333;
    text-decoration: none;
}
.news-list li:hover{
    border: 1px solid #388E3C;
    transition: 0.5s ease;
}
.news-list li p{
    color: #888;
}





/*Pages*/
.details{
    line-height: 2em;
    border: 1px solid #999;
    padding: 1em;
    margin-bottom: 1em;
}
.details h2{
    margin-bottom: 1em
}
.details h3{
    color: #999;
    margin-bottom: 1em;
}
.details p{
    font-size: 15px;
    margin-bottom: 1em;
}
.details ul{
    list-style: decimal;
    padding: 1em;
    color: #388E3C;
}
.details a{
    color: #388E3C;
}

.view-form{
    background-color: rgba(65, 182, 85, 0.12);
    padding: 3em 1em;
    margin-bottom: 4em;
}
/*---KFZ Form---*/
#krz-form{
    padding: 2em 0;
}
.nav-pills>li>a{
    border: 1px solid #eee;
    border-radius: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #388E3C;
    color: #feea39;
    border-radius: 0;
}
.well{
    border-radius: 0;
}
.well h2{
    margin-bottom: 1em;
}
.kfz-form{
    background-image: url(../images/kfz%20form.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 55px;
    position: relative;
}
.kfz-form .kfz-input{
    position: absolute;
    left:30px;
    top: 6px;
    width: 80px;
    height: 45px;
}
.tab-content{
    padding: 2em 2em 2em 0;
    margin-top: 2em;
    border: 1px solid #ccc;
    background-color: #fff;
}
.select{
    border: 1px solid #ccc;
    color: #999;
    background-color: #388E3C;
    display: inline-block;
}
.select li{
    display: inline-block;
    padding: 0.5em 1em;
    border-right: 1px solid #eee;
}
.select li a{
    color: #fff;
    text-decoration: none;
}
.select li.active a{
    color: #feea39;
}

.radios{
}
.radios input{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 1em;
}
.tips{
    background-color: #ccc;
    padding: 1em;
    position: relative;
}
.tips:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
}


/*Contact form*/
.contact-form{
    padding: 4em;
}
.contact-form h3{
    margin-bottom: 2em;
}
.contact-form textarea{
    width: 100%;
}
.checkbox-form-group{
    margin-bottom: 2em;
}
input.checkbox{
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 1em;
}



.qanda{
    padding: 4em 0;
}
.qanda .tab-content{
    padding-left: 1em;
}
.question-list{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.question-list li{
    background-color: #eee;
    margin-bottom: 1em;
    padding: 5px;
    border-radius: 5px;
}






.insurance-section{
    padding: 4em 0;
    line-height: 2em;
}
.i-col{
    margin-bottom: 4em;
}
.i-col p{
    margin-bottom: 2em;
    color: #999;
}
.insurance-section h3{
    margin-bottom: 1em;
    //padding-bottom: 1em;
    display: inline-block;
    //border-bottom: 2px solid #388E3C;
    position: relative;
}
/*.insurance-section h3:after{
    content: '';
    position: absolute;
    display: block;
    background-color: #feea39;
    width: 50px;
    height: 2px;
    top: 50px;
    left: 0;
}
.insurance-section h3:hover{
    border-bottom-color: #ccc;
    transition: 0.5s all ease-in-out;
}*/
.insurance-section h3 a{
    color: #333;
    text-decoration: none;
}
.insurance-list{
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ccc;
}
.insurance-list li a{
    color: #999;
}
.insurance-list li{
    display: block;
    position: relative;
}
.insurance-list li:after{
    content: '\f054';
    font-family: 'fontawesome';
    position: absolute;
    font-size: 15px;
    color: #999;
    right: 10px;
}