/*-------------------------*/
@media screen and (max-width:1087px){
    .form-group{
        width: 100%;
    }
    .form-horizontal .control-label{
        padding: 0;
        text-align: center;
    }
    .phone{
        width: 65%;
    }
    .nav-tabs li a{
        font-size: 14px;
    }
}
@media screen and (max-width:991px){
    .form{
        width: 100%;
    }
    .form-group{
        margin-bottom: 2em;
    }
    .form{
        padding-right: 0;
    }
}
@media screen and (max-width:839px){
    .bottom-form{
        width: 100%;
        margin-bottom: 1.5em;
    }
    .testinomials{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .banner-bottom ul li:nth-child(2){
        border-right:none; 
    }
    .nav-tabs li a span{
        display: none
    }
}
@media screen and (max-width:767px){
    /*.form-horizontal .control-label{
        padding: 0 2em;
    }
    /*.form-group select, .form-group input{
        width: 65%;
        float: right;
        margin-top: -40px;
    }
    .bottom-form{
        margin-bottom: 1em;
    }*/
    .navbar-inverse .navbar-nav{
        background-color: #41b655;
        border: none;
        z-index: 111;
        position: relative;
        margin-top: 1em;
    }
    .navbar-inverse .navbar-nav>li>a{
        margin-left: 10px;
        color: #fff;
    }
    .navbar-collapse{
        border-top: none;
        box-shadow: none;
    }
    .form{
        height: auto;
    }
    .nav-tabs li a span{
        display: block;
        font-size: 25px;
    }
    .nav-tabs li a b{
        display: none;
    }
    .nav-tabs li.active:after{
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -10px;
        left: 22px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #41b655;
    }
    .phone{
        width: 98%;
    }
    .navbar-toggle{
        border: none;
        border-radius: 0;
        left: 10px;
    }
    .navbar-toggle:hover{
        background-color: #14932a;
    }
    
    ul.dropdown-menu li a{
        color: #fff;
    }
    .nav-pills li{
        display: inline-block;
    }
    .nav-pills li p{
        display: none;
    }
    
    .form-horizontal .control-label{
        padding: 0 2em;
    }
} 
@media screen and (max-width:600px){
    .banner-bottom ul li{
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }
    .banner-bottom ul li:nth-child(2){
        padding: 0;
        padding-top: 1em;
    }
}
@media screen and (max-width:544px){
    .logo{
        width: 100%;
    }
    .tag{
        top:100px;
        right: 0;
    }
    .control-label .col-sm-4{
        width: 100%;
        display: block;
    }
    .form-control{
        width: 100%;
    }
    
    .footer-left, .footer-right{
        width: 100%;
        margin-bottom: 2em;
    }
    .footer-right{
        padding-left: 0;
    }
    .form-horizontal .control-label{
        padding: 0 1em;
    }
}
@media screen and (max-width:452px){
    .phone h2{
        font-size: 18px;
        margin-top: 8px;
    }
    .news-section .col-md-3{
        padding: 0;
    }
}